@page "/"
@using BaseLibrary.DTO.ApplicationUserDTOs
@using BaseLibrary.DTO.messageDTOs
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavManager
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<h1>Hello Welcome home</h1>